/**
 * Customized version of bootstrap using variables from _variables.scss.
 * This file is loaded via separate loader thus allowing to use original bootstrap classes (e.g. .btn-default) through out the app.
 */

// Your variable overrides go here, e.g.:
// $h1-font-size: 3rem;
// $web-font-path: "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" !default;
// url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

:root {
  --mx-page-width: 1800px;
}

@import 'colors';
@import '~bootstrap/scss/bootstrap';
@import '_overrides.scss';
@import './slate/mySlate.scss';
@import './mint/myMint.scss';
@import './superhero/mySuperhero.scss';
@import './flaty/myFlaty.scss';
@import './solar/mySolar.scss';
@import './faded/myFaded.scss';

body {
  font-family: 'Roboto Mono', monospace;
}

.background-cover {
  background-size: cover;
  background-position: center;
}

.router-animation-enter-active {
  animation: coming 0.2s;
  animation-delay: 0.1s;
  opacity: 0;
}
.router-animation-leave-active {
  animation: going 0.2s;
}

@keyframes going {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }
  to {
    transform: translate3d(0, 4%, 0) scale(0.93);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translate3d(0, 4%, 0) scale(0.93);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
